<!DOCTYPE html>
<html>
  <head>
    <title>ChessSense</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ChessSense", root_path, id: "logo" %>

        <%- if session[:user_id].present? %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Upload", new_user_chess_game_path %></li>
              <li><%= link_to "Games", user_chess_games_path %></li>
              <li><%= link_to "Profile", user_profile_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          </nav>
        <%- end %>

      </div>
    </header>

    <div class="container">
      <%#(success, info, warning, and danger), %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

      <footer class="footer">

        <small>
          <%= link_to "ChessSense", user_sense_path %>
          by
          <a href="https://github.com/Epigene">Augusts Bautra</a>
        </small>

      </footer>
    </div>
  </body>
</html>
